# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/

# VS/JetBrains project files
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# OS
.DS_Store
Thumbs.db

# Unity package stuff
*.apk
*.aab
*.unitypackage
